#flask
FLASK_APP=main:app
FLASK_ENV=production
SECRET_KEY="key"

# entrypoint bluprint
CONFIG_ENV=${FLASK_ENV}
DEBUG=False

# chrome
PATH_BROWSER="/usr/bin/google-chrome"
PATH_DRIVER="/usr/local/bin/chromedriver"

# postgres (SQLAlchemy URI is built from these parts)
DATABASE_USER=user
DATABASE_PASS=pass
DATABASE_HOST=host
DATABASE_PORT=5432
DATABASE_NAME=database


# escrapy
user=user
password=pass
base_url=https://acbs.private-radar.com/
