.venv
venv/
__pycache__/
.ipynb_checkpoints/

# varibles d'environnement
.env
dev-venv

# archives de Jupiter lab
mainLab.ipynb
pandas1.ipynb
Untitled.ipynb

# data -> archivos generados por el programa
src/app/data/
src/app/data/*.xlsx
src/app/data/*.csv
static/data/

instance/
dependencies/

# ky
src/config/default.py

