.venv
venv/
__pycache__/
.ipynb_checkpoints/

# varibles d'environnement
.env

# archives de Jupiter lab
mainLab.ipynb
pandas1.ipynb
Untitled.ipynb

# data -> archivos generados por el programa
app/data
app/data/*.xlsx
app/data/*.csv
