<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>

<body>
    <h1>Iniciar session</h1>
    <form action="/auth/login" method="POST">
        <label for="email">Username</label>
        <input type="email" id="email" name="email">
        {% if errors['email'] %}
        <p class="error">email erroneo</p>
        {% endif %}
        <br>
        <label for="password">password</label>
        <input type="password" id="password" name="password">
        {% if errors['pass'] %}
        <p class="error">password erroneo</p>
        {% endif %}
        <br>
        <button type="submit">Login</button>

    </form>
    <br />

    <li><a href="{{ url_for('authBP.register') }}">Registro</a></li>
</body>

</html>