{% extends "base.html" %}

{% block title %}Page not Found{% endblock %}

{% block content %}
<div class="flex items-center justify-center h-screen">
    <div class="text-center">
        <h1 class="text-6xl font-bold text-gray-800 mb-4">404</h1>
        <p class="text-xl text-gray-600 mb-8">Page not found</p>
        <h2 class="text-2xl font-bold text-gray-800 mb-4">Links</h2>
        <ul class="text-lg text-blue-500">
            {% if not islogged %}
            <li class="mb-2"><a href="/login" class="hover:text-blue-800">Login</a></li>
            <li class="mb-2"><a href="/register" class="hover:text-blue-800">Registro</a></li>
            {% endif %}
            <li class="mb-2"><a href="/vuelos" class="hover:text-blue-800">Vuelo</a></li>
        </ul>
    </div>
</div>
{% endblock %}