{% extends "base.html" %}

{% block title %}Vuelos{% endblock %}

{% block content %}
<div class="container mx-auto p-4">
    <div class="flex justify-between items-center mb-4">
        <h1 class="text-2xl font-bold">Vuelos del Dia {{ day }} (y-m-d)</h1>
        <a href="{{ url_for('authBP.logout') }}" class="text-blue-500 hover:text-blue-800">Cerrar Session</a>
    </div>
    <div id="loading" class="hidden text-center text-blue-500">extracción de datos, esto puede tardar varios segundos
        ...
    </div>
    <div id="container-form">
        {% if not vuelos %}
        <!-- Vuelos  -->
        <form id="vuelosForm" action="{{ url_for('authBP.vuelos')}}" method="POST"
            class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            <div class="mb-4">
                <label for="day" class="block text-gray-700 text-sm font-bold mb-2">Selecciona el día</label>
                <select id="day" name="day"
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                    <option value="today">Hoy {{ today }}</option>
                    <option value="tomorrow">Mañana {{ tomorrow }}</option>
                </select>
            </div>
            <div class="flex items-center justify-between">
                <button type="submit"
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Generar
                    Excel</button>
            </div>
        </form>
        {% endif %}

        {% if vuelos %}
        <!-- Vuelos ya se encentran generados -->
        <div>
            <!-- {% if title_day | default(false) %}
            <div>
                {# Ese "true" le dice a Jinja que también lo use si está vacío (None, '', etc). #}
                <h2>title: {{ title_day|default("Sin titulo", true) }}</h2>
            </div>
            {% endif %} -->
            <ul class="list-disc">
                <li><a href="{{url_for('authBP.descargar',filename=vuelos, path='data')}}"
                        class="text-2xl font-bold text-red-500 hover:text-blue-800">
                        Descargar vuelos Excel {{vuelos}}
                    </a>
                </li>
                <li>
                    <a href="{{url_for('authBP.descargar',filename=pdf_file, path='pdf')}}"
                        class="text-2xl font-bold text-red-500 hover:text-blue-800">
                        Descargar vuelos en PDF {{file_pdf}}
                    </a>
                </li>
                <li>
                    <a href="{{url_for('authBP.page_html_table',file_name=html_file)}}"
                        class="text-2xl font-bold text-red-500 hover:text-blue-800">
                        Tabla Vuelos (html) {{ html_file }}
                    </a>
            </ul>

            <br />


            <br />
            <br />
            <br />
            <h2 class="text-xl font-bold mb-4">Los datos de los Vuelos ya Existen, quieres volver a Generar Excel de
                vuelos?</h2>
            <form id="remakeForm" action="{{ url_for('authBP.vuelos', remake='remake') }}" method="POST"
                class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
                <div class="mb-4">
                    <label for="day" class="block text-gray-700 text-sm font-bold mb-2">Selecciona el día</label>
                    <select id="day" name="day"
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                        <option value="today">Hoy {{ today }}</option>
                        <option value="tomorrow">Mañana {{ tomorrow }}</option>
                    </select>
                </div>
                <div class="flex items-center justify-between">
                    <button type="submit" name="submit_remake"
                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Regenerar
                        Vuelos</button>
                </div>
            </form>
        </div>
        {% endif %}
        {% if errors %}
        <p class="text-red-500 text-xs italic">{{errors}}</p>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('authBP.static', filename='js/vuelos.js') }}"></script>

{% endblock %}